/* styles.css */

.subscriptionDiv{
    background: #FFA07A;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: baseline;
    height: 100vh;
    width: auto;
}

.usernameSubscribe, .statusSubscribe, .buttonSaveSubscribe, .idsSubscribe{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

.buttonSaveSubscribe{
    border: 0px;
    background:  #B0C4DE;
    padding : 1vh 1vw;
}

.usernameSubscribeClass, .statusSubscribeClass, .saveSubscribeClass{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    padding: 1vh 1vw;
}

.inputUsernameSubscribe, .inputStatusSubscribe{
    color: #778899;
    border: 0px;
}

.subscriptionImg{
    width: auto;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}

.subscriptionBlocks{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: center;
    flex-grow: 1;
    height: 100vh;
    width: auto;
}

.idsSubscribe{
    justify-content: center;
    align-content: center;
    padding: 2vh;
}

.blockSubscriptionImg{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: auto;
    flex-grow: 1;
}