/* styles.css */

.blocks{
    background-color: #B0C4DE;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: center;
}

.block1{
    display: flex;
    justify-content: center;
}

.block2{
    background-color: #B0C4DE;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-flow: column wrap;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 1;
}

.buttons{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    align-content: center;
}

.title{
	color: #ffffff;
	font-family: 'Open Sans Condensed', sans-serif;
}

.signIn{
    background: #FFA07A;
    border: 2px solid #ffffff;
    border-radius: 0px;
    border-color: #B0C4DE;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 10px 15px;
    text-decoration: none;
}

.signIn:hover{
    background: #778899;
    color: #ffffff;
}

.join{
    background: #FFA07A;
    border: 2px solid #ffffff;
    border-radius: 0px;
    border-color: #B0C4DE;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 10px 15px;
    text-decoration: none;
}

.join:hover{
    background: #778899;
    color: #ffffff;
}

.image{
    width: auto;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}
/* #FFA07A
#6495ED
#B0C4DE
#778899 */